@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('./assets/fonts/Cafe24Ssurround-v2.0.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

}

:root {
  touch-action: pan-x pan-y;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  --height-header: 55px;
  --height-bottom-nav: 70px;
}

* {
  touch-action: pan-x pan-y;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* 입력 요소는 선택 가능하도록 예외 처리 */
input, textarea {
  touch-action: auto;
  -webkit-touch-callout: auto;
  -webkit-user-select: text;
  user-select: text;
}