/* Pink custom scrollbar for vocabulary search results */
.scrollbar-pink {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-main-600) var(--primary-main-100);
}

.scrollbar-pink::-webkit-scrollbar {
  width: 8px;
  background: var(--primary-main-100);
}

.scrollbar-pink::-webkit-scrollbar-thumb {
  background: var(--primary-main-600);
  border-radius: 8px;
}

.scrollbar-pink::-webkit-scrollbar-track {
  background: var(--primary-main-100);
}