# Python 관련
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.pyc
config.py

# 환경 변수 파일
.env
.env.dev
.env.stg
.env.prod


# Docker 관련
*.log

# IDE 관련
.vscode/
.idea/
*.swp
*.swo

# 기타
*.egg-info/
dist/
build/
